<%= form_with url: helpers.project_attributes_schema_path(@project),
  method: :patch,
  data: {
    controller: "project-attributes-builder",
    project_attributes_builder_submit_url_value: helpers.project_attributes_schema_path(@project)
  }, builder: DefaultFormBuilder do |f| %>

  <div class="card-body p-4 flex flex-col gap-4">
    <div
        id="project_attributes_list"
        data-project-attributes-builder-target="list"
        class="grid grid-cols-[repeat(auto-fit,minmax(400px,1fr))] gap-3">
      <% @project.log_schema.each do |title, type| %>
        <%= render ProjectAttributes::LogAttributeComponent.new(title: title, type: type) %>
      <% end %>
    </div>
    <button
        type="button"
        class="btn btn-outline btn-primary"
        data-action="click->project-attributes-builder#add">
        + <%= t(".new_row") %>
    </button>


    <div class="flex justify-end">
      <%= f.modal_cancel %>
      <%= f.submit %>
    </div>
  </div>
<% end %>
