<div class="flex flex-col sm:flex-row sm:justify-between sm:items-center gap-3">
  <div class="flex items-center gap-2 flex-wrap">
    <h3 class="text-xl sm:text-2xl font-bold">
      <%= t(".title") %>
    </h3>
    <%= render BadgeComponent.new(text: t(".attributes_count", count: project.log_schema.size), colour: :warning, size: :sm) %>
  </div>
  <div class="flex-shrink-0">
    <%= render ActionButtonComponent.new(to: edit_project_attributes_schema_path(project), icon: "edit", colour: :info, turbo_stream: true, size: :medium) do %>
      <%= t(".edit_attributes") %>
    <% end %>
  </div>
</div>
<p class="text-sm text-gray-500">
  <%= t(".description") %>
</p>

<div class="divider -my-1 opacity-60"></div>
<div class="grid grid-cols-[repeat(auto-fit,minmax(200px,1fr))] gap-3 w-full">
  <% project.log_schema.each do |name, type| %>
    <div class="flex items-center justify-between px-3 py-2 rounded-lg shadow border border-base-100 bg-base-100">
      <div class="flex items-center gap-2">
        <span class="font-mono text-xs text-base-content">
          <%= name %>
        </span>
      </div>
      <%= render BadgeComponent.new(text: type.to_s, size: :xs, colour: :info, html_classes: "min-w-[65px] text-base-100") %>
    </div>
  <% end %>
</div>

<% if project.log_schema.empty? %>
  <p class="text-sm text-base-content/60 italic"> <%= t(".empty_state") %> </p>
<% end %>
