<%= render ContentCardComponent.new do %>
  <section class="flex flex-col gap-6" data-controller="project-card-search">
    <div class="flex flex-row justify-between">
      <label for="search" class="input rounded-full w-full">
        <%= render IconComponent.new(icon: "search", size: :sm) %>
        <input id="search" type="search" name="q" required placeholder="<%= t(".search_placeholder") %>" autocomplete="off" data-project-card-search-target="input" data-action="input->project-card-search#filter">
      </label>
    </div>
    <div class="grid grid-cols-[repeat(auto-fill,minmax(285px,1fr))] gap-6 w-full">
      <% projects.each do |project| %>
        <div class="card relative w-full flex flex-col justify-between gap-2 bg-base-100 border border-base-300 shadow-md p-4 rounded-xl transition-shadow hover:shadow-lg" 
             data-project-card-search-target="card" 
             data-project-name="<%= project.name %>">

             <div class="flex flex-col">
               <div class="flex justify-between items-center mb-1">
                 <h2 class="text-color-base-content text-lg font-semibold">
                   <%= link_to project.name, project_path(project), 
                   class: "after:absolute after:inset-0 after:content-['']" %>
                 </h2>
                 <div class="z-10">
                   <%= render BadgeComponent.new(**project_badge_args(project), style: :soft, size: :sm) %>
                 </div>
               </div>

               <div class="flex flex-col gap-0.5 z-10">
                 <% project.subprojects.each do |subproject| %>
                   <%= render Projects::SubprojectCardComponent.new(subproject: subproject) %>
                 <% end %>
               </div>
             </div>
        </div>
      <% end %>
    </div>

  </section>
<% end %>
