<div class="mx-8 my-10">
  <div class="flex items-center justify-between mb-4">
    <h1 class="text-4xl font-bold"><%= t(".title") %></h1>
    <%= render ActionButtonComponent.new(to: new_user_path, icon: "add", colour: :primary, size: :large, turbo_stream: true) do %>
      <%= t(".actions.create") %>
    <% end %>
  </div>
  <%= render ContentCardComponent.new do %>
    <%= render Shared::IndexTableComponent.new(
          records: @users,
          actions: lambda { |user|
            [
              { icon: "edit", label: t("shared.index_table_component.actions.edit"), path: edit_user_path(user), turbo_stream: true, colour: :info },
              { icon: "delete", label: t("shared.index_table_component.actions.delete"), path: user_path(user), method: :delete, colour: :error, confirm: t("users.destroy.confirm") }
            ]
          }
        ) do |table| %>
      <% table.column :username %>
      <% table.column :roles do |user| %>
        <% role_colour_map = { "admin" => :primary, "reporter" => :info, "analyst" => :warning } %>
        <% user.user_roles.each do |role| %>
          <% col = role_colour_map[role.role.to_s.downcase] %>
          <%= render BadgeComponent.new(text: role.role, colour: col) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
