<div class="mx-8 my-10">
  <div class="flex items-center justify-between mb-4">
    <h1 class="text-4xl font-bold">Manage Users</h1>
    <%= link_to new_user_path, data: { turbo_stream: true }, class: "btn btn-primary flex flex-row items-center gap-2 px-4 py-2 rounded" do %>
      <%= render IconComponent.new(icon: "add", size: :sm) %>
      <%= t(".create_user_button") %>
    <% end %>
  </div>
  <%= render ContentCardComponent.new do %>
    <%= render Shared::IndexTableComponent.new(records: @users) do |table| %>
      <% table.column :username %>
      <% table.column :roles do |user| %>
        <% role_colour_map = { "admin" => :primary, "reporter" => :info, "analyst" => :warning } %>
        <% user.user_roles.each do |role| %>
          <% col = role_colour_map[role.role.to_s.downcase] %>
          <%= render BadgeComponent.new(text: role.role, colour: col) %>
        <% end %>
      <% end %>
      <% table.column :actions, header: "Actions", col_size: "67px" do |user| %>
        <div class="flex flex-row gap-2 items-center">
          <%= render ActionButtonComponent.new(to: edit_user_path(user), icon: "edit", turbo_stream: true) %>
          <%= render ActionButtonComponent.new(to: user_path(user), method: :delete, icon: "delete", colour: :error, confirm: "Are you sure?") %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
