<div class="mx-4 sm:mx-8 my-6 sm:my-10">
  <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4 mb-4">
    <h1 class="text-2xl sm:text-3xl lg:text-4xl font-bold"><%= t(".title") %></h1>
    <%= render ActionButtonComponent.new(to: new_user_path, icon: "add", colour: :primary, size: :large, turbo_stream: true) do %>
      <span class="hidden sm:inline"><%= t(".actions.create") %></span>
      <span class="sm:hidden">New</span>
    <% end %>
  </div>
  <%= render ContentCardComponent.new do %>
    <%= render Shared::IndexTableComponent.new(records: @users) do |table| %>
      <% table.column :username %>
      <% table.column :roles do |user| %>
        <% role_colour_map = { "admin" => :primary, "reporter" => :info, "analyst" => :warning } %>
        <% user.user_roles.each do |role| %>
          <% col = role_colour_map[role.role.to_s.downcase] %>
          <%= render BadgeComponent.new(text: role.role, colour: col) %>
        <% end %>
      <% end %>
      <% table.column :actions, header: t("shared.index_table_component.actions"), col_size: "90px" do |user| %>
        <div class="flex flex-row gap-2 items-center">
          <%= render ActionButtonComponent.new(to: user_path(user), icon: "view") %>
          <%= render ActionButtonComponent.new(to: edit_user_path(user), icon: "edit", turbo_stream: true, colour: :info) %>
          <%= render ActionButtonComponent.new(to: user_path(user), method: :delete, icon: "delete", colour: :error, confirm: t("users.destroy.confirm")) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
