<h1>Users</h1>

<%# form_with is a Rails helper for creating forms. %>
<%# url: users_path specifies the submission URL (the index action). %>
<%# method: :get indicates we are using the HTTP GET method, which is standard for search forms so parameters appear in the URL. %>
<%= form_with url: users_path, method: :get do |form| %>
  <div>
    <%# form.label creates an HTML <label> element. %>
    <%= form.label :username, "Search by username:" %>
    
    <%# form.text_field creates an HTML <input type="text"> element. %>
    <%# value: params[:username] ensures the input field retains the search term after submission. %>
    <%= form.text_field :username, value: params[:username] %>
    
    <%# form.submit creates a submit button. %>
    <%= form.submit "Search" %>
  </div>
<% end %>

<ul>
  <%# @users.each iterates over the collection of users. %>
  <%# do |user| starts the block, assigning each user to the variable 'user'. %>
  <% @users.each do |user| %>
    <li>
      <%# user.username accesses the username attribute of the user object. %>
      <%= user.username %>
    </li>
  <% end %>
</ul>
