<section class="mx-8 my-10">
  <div class="flex flex-col gap-4">
    <div class="flex flex-row justify-between items-start">
      <div class="flex flex-col gap-1">
        <h1 class="text-4xl font-bold"><%= @user.username %></h1>
        <div class="flex flex-row gap-2">
          <% @user.user_roles.each do |user_role| %>
            <%= render Users::RoleBadgeComponent.new(role_name: user_role.role) %>
          <% end %>
        </div>
      </div>
      <div class="flex flex-row gap-4">
        <%= render ActionButtonComponent.new(to: edit_user_path(@user), icon: "edit", colour: :primary, size: :large, turbo_stream: true) do %>
          <%= t(".actions.edit") %>
        <% end %>
        <%= render ActionButtonComponent.new(to: user_path(@user), method: :delete, icon: "delete", colour: :error, size: :large, confirm: t("users.destroy.confirm")) do %>
          <%= t(".actions.delete") %>
        <% end %>
      </div>
    </div>
    <%= render ContentCardComponent.new do %>
      <h1 class="text-2xl font-bold"><%= t(".log_entries") %></h1>
      <%= render Shared::IndexTableComponent.new(records: @user.log_entries) do |table| %>
        <% table.column :created_at do |log_entry| %>
          <%= l(log_entry.created_at) %>
        <% end %>
        <% table.column :updated_at do |log_entry| %>
          <%= l(log_entry.updated_at) %>
        <% end %>
        <% table.column :project do |log_entry| %>
          <%= log_entry.subproject.project.name %>
        <% end %>
        <% table.column :subproject do |log_entry| %>
          <%= log_entry.subproject.name %>
        <% end %>
        <% table.column :actions, header: t("shared.index_table_component.actions"), col_size: "90px" do |log_entry| %>
          <div class="flex flex-row gap-2 items-center">
            <%= render ActionButtonComponent.new(to: project_subproject_log_entry_path(log_entry.subproject.project, log_entry.subproject, log_entry), icon: "view", turbo_stream: true) %>
            <%= render ActionButtonComponent.new(to: edit_project_subproject_log_entry_path(log_entry.subproject.project, log_entry.subproject, log_entry), icon: "edit", turbo_stream: true, colour: :info) %>
            <%= render ActionButtonComponent.new(to: project_subproject_log_entry_path(log_entry.subproject.project, log_entry.subproject, log_entry), method: :delete, icon: "delete", colour: :error, confirm: t("log_entries.destroy.confirm")) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <%= render ContentCardComponent.new do %>
      <h1 class="text-2xl font-bold"><%= t(".journal_entries") %></h1>
      <%= render Shared::IndexTableComponent.new(records: @user.journals) do |table| %>
        <% table.column :title do |journal| %>
          <%= journal.title %>
        <% end %>
        <% table.column :created_at do |journal_entry| %>
          <%= l(journal_entry.created_at) %>
        <% end %>
        <% table.column :updated_at do |journal_entry| %>
          <%= l(journal_entry.updated_at) %>
        <% end %>
        <% table.column :project do |journal_entry| %>
          <%= journal_entry.subproject.project.name %>
        <% end %>
        <% table.column :subproject do |journal_entry| %>
          <%= journal_entry.subproject.name %>
        <% end %>
        <% table.column :actions, header: t("shared.index_table_component.actions"), col_size: "90px" do |journal_entry| %>
          <div class="flex flex-row gap-2 items-center">
            <%= render ActionButtonComponent.new(to: project_subproject_journal_path(journal_entry.subproject.project, journal_entry.subproject, journal_entry), icon: "view", turbo_stream: true) %>
            <%= render ActionButtonComponent.new(to: edit_project_subproject_journal_path(journal_entry.subproject.project, journal_entry.subproject, journal_entry), icon: "edit", turbo_stream: true, colour: :info) %>
            <%= render ActionButtonComponent.new(to: project_subproject_journal_path(journal_entry.subproject.project, journal_entry.subproject, journal_entry), method: :delete, icon: "delete", colour: :error, confirm: t("journals.destroy.confirm")) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</section>
