<%= form_with model: [project, subproject, journal], builder: DefaultFormBuilder do |form| %>
  <div class="flex flex-col gap-2">
    <div class="flex flex-col gap-1">
      <%= form.label :title %>
      <%= form.text_field :title, required: true, class: "w-full" %>
    </div>
    <div class="flex flex-col gap-1">
      <%= form.label :markdown_content %>
      <%= form.rich_text_area :markdown_content, class: "min-h-[200px] border border-gray-200 rounded p-2" %>
    </div>
  </div>
  <div class="mt-4">
    <%= form.submit class: "w-full btn btn-neutral" %>
  </div>
<% end %>
