<div class="w-full flex items-center justify-between gap-3">
  <div class="flex items-center gap-3 min-w-0">
    <div class="w-8 h-8 rounded-full border border-base-300 flex items-center justify-center shrink-0">
      <%= render IconComponent.new(icon: "tree-fill", classes: "text-gray-11") %>
    </div>
    <div class="flex flex-col min-w-0">
      <p class="font-medium text-xs text-base-content truncate">
        <%= subproject.name %>
      </p>
      <p class="text-xs text-base-content/70 truncate">
        <%= subproject.region&.name || "No region" %>
      </p>
    </div>
  </div>

  <div class="flex items-center gap-2 shrink-0">
    <button class="btn btn-circle w-8 h-8">
      <%= render IconComponent.new(icon: "gear") %>
    </button>
    <button class="btn btn-circle w-8 h-8">
      <%= render IconComponent.new(icon: "vector-pen") %>
    </button>
  </div>
</div>
