<section class="mx-8 my-10">
  <div class="flex flex-col gap-4">
    <div class="flex flex-row justify-between items-start">
      <div class="flex flex-col gap-1">
        <h1 class="text-4xl font-bold"><%= @project.name %></h1>
        <p class="text-sm text-base-content/70 mt-1"><%= @project.description %></p>
      </div>

      <div class="flex flex-row gap-4">
        <%= link_to edit_project_path(@project), method: :get, class: "btn btn-primary flex flex-row items-center gap-2 px-4 py-2 rounded shadow-none font-bold" do %>
          <%= render IconComponent.new(icon: "edit", size: :sm, classes: "w-4 h-4 text-white") %>
          <%= t(".actions.edit") %>
        <% end %>

        <%= link_to new_project_path, class: "btn btn-primary flex flex-row items-center gap-2 px-4 py-2 rounded shadow-none font-bold" do %>
          <%= render IconComponent.new(icon: "add", size: :sm) %>
          <%= t(".actions.create") %>
        <% end %>

        <%= button_to project_path(@project),
                      method: :delete,
                      data: { turbo_confirm: t("projects.destroy.confirm") },
                      class: "btn btn-error flex flex-row items-center gap-2 px-4 py-2 rounded shadow-none font-bold text-white" do %>
          <%= render IconComponent.new(icon: "delete", size: :sm, classes: "w-4 h-4 text-white") %>
          <%= t(".actions.delete") %>
        <% end %>
      </div>
    </div>

    <%= render ContentCardComponent.new do %>
      <div class="subprojects-index-table">
        <div class="overflow-x-auto">
          <%= render Shared::IndexTableComponent.new(records: @project.subprojects) do |table| %>

            <% table.column :name, header: t("projects.show.subproject_name") do |subproj| %>
              <%= subproj.name %>
            <% end %>

            <% table.column :status, header: t("projects.show.status") do |_subproj| %>
            <%= render BadgeComponent.new(text: t("projects.show.statuses.in_progress"), colour: :warning, size: :md, style: :soft) %>
          <% end %>

            <% table.column :due_date, header: t("projects.show.due_date") do |_subproj| %>
              <span class="text-sm text-gray-600"><%= t("projects.show.due_date_placeholder") %></span>
            <% end %>

            <% table.column :assign, header: t("projects.show.assign") do |_subproj| %>
              <%= render BadgeComponent.new(text: t("projects.show.assign_placeholder"), colour: :neutral, size: :sm) %>
            <% end %>

            <% table.column :actions, header: "", col_size: "90px" do |subproj| %>
              <div class="flex justify-end gap-2">
                <%= render ActionButtonComponent.new(to: project_subproject_path(@project, subproj), icon: "view") %>
                <%= render ActionButtonComponent.new(to: edit_project_subproject_path(@project, subproj), icon: "edit", colour: :info) %>
                <%= render ActionButtonComponent.new(to: project_subproject_path(@project, subproj), method: :delete, icon: "delete", colour: :error, confirm: t("subprojects.destroy.confirm")) %>
              </div>
            <% end %>

          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
