<section class="mx-4 sm:mx-8 my-6 sm:my-10">
  <div class="flex flex-col gap-4">
    <div class="flex flex-col sm:flex-row sm:justify-between sm:items-start gap-4">
      <div class="flex flex-col gap-1">
        <h1 class="text-2xl sm:text-3xl lg:text-4xl font-bold"><%= @project.name %></h1>
        <span class="text-base sm:text-lg text-base-content/60"><%= @project.description %></span>
      </div>

      <div class="flex flex-row flex-wrap gap-2 sm:gap-4 sm:flex-shrink-0">
        <%= render ActionButtonComponent.new(to: edit_project_path(@project), icon: "edit", colour: :info, turbo_stream: true, size: :large) do %>
          <span class="hidden sm:inline"><%= t(".actions.edit") %></span>
          <span class="sm:hidden text-xs whitespace-nowrap"><%= t(".actions.edit") %></span>
        <% end %>

        <%= render ActionButtonComponent.new(to: new_project_subproject_path(@project), icon: "add", size: :large, turbo_stream: true, colour: :primary) do %>
          <span class="hidden sm:inline"><%= t(".create_subproject") %></span>
          <span class="sm:hidden text-xs whitespace-nowrap"><%= t(".create_subproject") %></span>
        <% end %>

        <%= render ActionButtonComponent.new(to: project_path(@project), method: :delete, icon: "delete", colour: :error, size: :large, confirm: t("projects.destroy.confirm")) do %>
          <span class="hidden sm:inline"><%= t(".actions.delete") %></span>
          <span class="sm:hidden text-xs whitespace-nowrap"><%= t(".actions.delete") %></span>
        <% end %>
      </div>
    </div>

    <%= render ContentCardComponent.new do %>
      <h1 class="text-xl sm:text-2xl font-bold"><%= t(".subprojects") %></h1>
      <%= render Shared::IndexTableComponent.new(records: @project.subprojects) do |table| %>
        <% table.column :name do |subproject| %>
          <%= subproject.name %>
        <% end %>
        <% table.column :address do |subproject| %>
          <%= subproject.address %>
        <% end %>
        <% table.column :region do |subproject| %>
          <%= subproject.region.name %>
        <% end %>
        <% table.column :created_at do |subproject| %>
          <%= l(subproject.created_at) %>
        <% end %>
        <% table.column :actions, col_size: "90px" do |subproject| %>
          <div class="flex justify-end gap-2">
            <%= render ActionButtonComponent.new(to: project_subproject_path(@project, subproject), icon: "view") %>
            <%= render ActionButtonComponent.new(to: edit_project_subproject_path(@project, subproject), icon: "edit", colour: :info, turbo_stream: true) %>
            <%= render ActionButtonComponent.new(to: project_subproject_path(@project, subproject), method: :delete, icon: "delete", colour: :error, confirm: t("subprojects.destroy.confirm")) %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <%= render ContentCardComponent.new do %>
      <%= render Projects::LogSchemaComponent.new(project: @project) %>
    <% end %>
  </div>
</section>
