<%= turbo_stream.append "selected-journals-list" do %>
  <div class="relative" data-journal-id="<%= @journal.id %>">
    <%= hidden_field_tag "journal_ids[]", @journal.id %>
    <button
        type="button"
        class="btn btn-sm btn-outline btn-error absolute right-2 top-2 z-10 shadow-none"
        data-action="report-editor#removeJournal"
        aria-label="<%= t("reports.edit.remove") %>">
        <%= t("reports.edit.remove") %>
    </button>
    <%= render Reports::JournalCardComponent.new(journal: @journal) %>
  </div>
<% end %>
