<div class="mx-auto my-10 w-4/5 max-w-[1450px]">
  <%= render ContentCardComponent.new do %>
    <div class="flex items-center gap-3">
      <h1 class="text-3xl font-bold"><%= t(".title") %></h1>
      <span class="badge badge-primary"><%= t(".admin_ui") %></span>
    </div>

    <div class="w-2/5 mt-0 divider"></div>

    <div class="p-2 border border-base-300 rounded-lg bg-base-100">
      <%= render Shared::IndexTableComponent.new(records: @journals) do |table| %>
        <% table.column :author do |journal| %>
          <%= journal.user.username %>
        <% end %>

        <% table.column :subproject do |journal| %>
          <%= @subproject.name %>
        <% end %>

        <% table.column :content do |journal| %>
          <!-- Truncate the content to 100 characters for better display -->
          <%= truncate(journal.markdown_content.to_plain_text, length: 100) %>
        <% end %>

        <% table.column :created_at do |journal| %>
          <%= journal.created_at.to_fs(:long_ordinal) %>
        <% end %>

        <% table.column :action, header: "" do |journal| %>
          <div class="flex items-center gap-2">
            <%= link_to t(".view"), project_subproject_journal_url(@project, @subproject, journal), class: "btn btn-xs btn-outline btn-info" %>
            <%= link_to t(".edit"), edit_project_subproject_journal_url(@project, @subproject, journal), class: "btn btn-xs btn-outline btn-secondary" %>
            <%= button_to t(".delete"), project_subproject_journal_path(@project, @subproject, journal), method: :delete, data: { turbo_confirm: t(".delete_confirmation") }, class: "btn btn-xs btn-outline btn-error" %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
