<div class="mx-8 my-10">
  <div class="flex items-center justify-between mb-5">
    <h1 class="text-4xl font-bold"><%= t(".title") %></h1>
    <%= link_to new_project_subproject_journal_path(@project, @subproject), class: "btn btn-primary flex flex-row items-center gap-2 px-4 py-2 rounded shadow-none" do %>
      <%= render IconComponent.new(icon: "add", size: :sm) %>
      <%= t(".actions.create") %>
    <% end %>
  </div>
  <%= render ContentCardComponent.new do %>
    <%= render Shared::IndexTableComponent.new(records: @journals) do |table| %>
      <% table.column :user do |journal| %>
        <%= journal.user.username %>
      <% end %>

      <% table.column :subproject do |journal| %>
        <%= @subproject.name %>
      <% end %>

      <% table.column :markdown_content do |journal| %>
        <!-- Truncate the content to 100 characters for better display -->
        <%= truncate(journal.markdown_content.to_plain_text, length: 100) %>
      <% end %>

      <% table.column :created_at do |journal| %>
        <%= journal.created_at.to_fs(:long_ordinal) %>
      <% end %>

      <% table.column :actions, header: t("shared.index_table_component.actions"), col_size: "90px" do |journal| %>
        <div class="flex items-center gap-2">
          <%= render ActionButtonComponent.new(to: project_subproject_journal_path(@project, @subproject, journal), icon: "view") %>
          <%= render ActionButtonComponent.new(to: edit_project_subproject_journal_path(@project, @subproject, journal), icon: "edit", colour: :info) %>
          <%= render ActionButtonComponent.new(to: project_subproject_journal_path(@project, @subproject, journal), method: :delete, icon: "delete", colour: :error, confirm: t("journals.destroy.confirm")) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
