<div class="mx-2 my-4 sm:mx-8 sm:my-10">
  <div class="flex flex-col gap-1 mb-5 sm:mb-6">
    <h1 class="text-3xl sm:text-4xl font-bold leading-tight"><%= t(".title") %></h1>
    <span class="text-base sm:text-lg text-base-content/60"><%= t(".subtitle") %></span>
  </div>

  <%= turbo_frame_tag "unified_form" do %>
      <%= render Projects::Subprojects::UnifiedFormComponent.new(
            projects: @projects,
            form_url: new_journal_path,
            selected_project_id: params[:project_id],
            selected_subproject_id: params[:subproject_id]
          ) do |component| %>
        <% component.with_form_body do %>
          <% if component.selection_complete? %>
            <%= turbo_frame_tag "journal_new_form", src: new_project_subproject_journal_path(component.selected_project, component.selected_subproject) do %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
  <% end %>
</div>
