<div class="bg-white rounded-md p-4 shadow-md">
  <h1 class="text-xl font-bold"><%= @journal.title %></h1>
  <div class="flex flex-col gap-1">
    <span class="text-lg"><%= t(".author") %>: <%= @journal.user.username %></span>
    <span class="text-sm text-base-content/70">
      <%= t(".project") %>: <%= @journal.subproject&.project&.name || "-" %>
      |
      <%= t(".subproject") %>: <%= @journal.subproject&.name || "-" %>
    </span>
  </div>
  <div class="divider m-0 mb-2"></div>

  <%= @journal.markdown_content %>
</div>
