<div class="mx-auto my-10 w-4/5 max-w-[1450px]">
  <%= render ContentCardComponent.new do %>
    <div class="flex items-center gap-3">
      <h1 class="text-3xl font-bold"><%= t(".title") %></h1>
    </div>
    <div class="w-2/5 mt-0 divider"></div>
    <div class="p-2 border border-base-300 rounded-lg bg-base-100">
      <%= render Shared::IndexTableComponent.new(records: @regions) do |table| %>
        <% table.column :name, header: t(".table.name") %>
        <% table.column :latitude, header: t(".table.latitude") do |region| %>
          <%= "#{region.latitude.abs.round(4)}° #{region.latitude >= 0 ? 'N' : 'S'}" %>
        <% end %>
        <% table.column :longitude, header: t(".table.longitude") do |region| %>
          <%= "#{region.longitude.abs.round(4)}° #{region.longitude >= 0 ? 'E' : 'W'}" %>
        <% end %>
        <% table.column :action, header: t(".table.actions") do |region| %>
          <div class="flex gap-2">
            <%= link_to t("regions.edit.button"), edit_region_path(region), class: "btn btn-xs btn-outline btn-info" %>
            <%= button_to t("regions.destroy.button"), region_path(region),
                          method: :delete, form: { data: { turbo_confirm: t("regions.destroy.confirm") } }, class: "btn btn-xs btn-outline btn-error" %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
