<div class="mx-8 my-10">
  <div class="flex items-center justify-between mb-5">
    <h1 class="text-4xl font-bold"><%= t(".title") %></h1>
    <%= link_to new_region_path, class: "btn btn-primary flex flex-row items-center gap-2 px-4 py-2 rounded shadow-none" do %>
      <%= render IconComponent.new(icon: "add", size: :sm) %>
      <%= t(".actions.create") %>
    <% end %>
  </div>
  <%= render ContentCardComponent.new do %>
    <%= render Shared::IndexTableComponent.new(records: @regions) do |table| %>
      <% table.column :name %>
      <% table.column :latitude do |region| %>
        <%= "#{region.latitude.abs.round(4)}° #{region.latitude >= 0 ? 'N' : 'S'}" %>
      <% end %>
      <% table.column :longitude do |region| %>
        <%= "#{region.longitude.abs.round(4)}° #{region.longitude >= 0 ? 'E' : 'W'}" %>
      <% end %>
      <% table.column :action, header: t("shared.index_table_component.actions"), col_size: "67px" do |region| %>
        <div class="flex items-center gap-2">
          <%= render ActionButtonComponent.new(to: edit_region_path(region), icon: "edit", colour: :info) %>
          <%= render ActionButtonComponent.new(to: region_path(region), method: :delete, icon: "delete", colour: :error, confirm: t("subprojects.destroy.confirm")) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
