<div class="mx-auto my-10 w-4/5 max-w-[1450px]">
  <%= render ContentCardComponent.new do %>
    <div class="flex items-center gap-3">
      <h1 class="text-3xl font-bold">Regions</h1>
      <span class="badge badge-primary">Admin UI</span>
    </div>
    <div class="w-2/5 mt-0 divider"></div>
    <div class="p-2 border border-base-300 rounded-lg bg-base-100">
      <%= render Shared::IndexTableComponent.new(records: @regions) do |table| %>
        <% table.column :name %>
        <% table.column :latitude do |region| %>
            <%= "#{region.latitude.abs.round(4)}° #{region.latitude >= 0 ? 'N' : 'S'}" %>
        <% end %>
        <% table.column :longitude do |region| %>
            <%= "#{region.longitude.abs.round(4)}° #{region.longitude >= 0 ? 'E' : 'W'}" %>
        <% end %>
        <% table.column :action, header: "" do |region| %>
          <%= link_to "Edit", edit_region_path(region), class: "btn btn-xs btn-outline btn-info" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
