<div class="mx-8 my-10">
  <div class="flex items-center justify-between mb-5">
    <h1 class="text-4xl font-bold"><%= t(".title") %></h1>
    <%= render ActionButtonComponent.new(to: new_region_path, icon: "add", colour: :primary, size: :large, turbo_stream: true) do %>
      <%= t(".actions.create") %>
    <% end %>
  </div>
  <%= render ContentCardComponent.new do %>
    <%= render Shared::IndexTableComponent.new(
          records: @regions,
          actions: lambda { |region|
            [
              { icon: "edit", label: t("shared.index_table_component.actions.edit"), path: edit_region_path(region), turbo_stream: true },
              { icon: "delete", label: t("shared.index_table_component.actions.delete"), path: region_path(region), method: :delete, confirm: t("regions.destroy.confirm") }
            ]
          },
          clickable_rows: false
        ) do |table| %>
    <% table.column :name %>
    <% table.column :latitude do |region| %>
      <%= "#{region.latitude.abs.round(4)}° #{region.latitude >= 0 ? 'N' : 'S'}" %>
    <% end %>
    <% table.column :longitude do |region| %>
      <%= "#{region.longitude.abs.round(4)}° #{region.longitude >= 0 ? 'E' : 'W'}" %>
    <% end %>
  <% end %>
<% end %>
</div>
