<div class="mx-8 my-10">
  <div class="flex items-center justify-between mb-5">
    <h1 class="text-4xl font-bold"><%= t(".title") %></h1>
    <%= render ActionButtonComponent.new(to: new_project_subproject_url(@project), icon: "add", colour: :primary, size: :large, turbo_stream: true) do %>
      <%= t(".actions.create") %>
    <% end %>
  </div>
  <%= render ContentCardComponent.new do %>
    <%= render Shared::IndexTableComponent.new(records: @subprojects) do |table| %>
      <% table.column :name %>
      <% table.column :description %>
      <% table.column :address %>
      <% table.column :region do |subproject| %>
        <%= subproject.region.name %>
      <% end %>
      <% table.column :actions, header: t("shared.index_table_component.actions"), col_size: "90px" do |subproject| %>
        <div class="flex items-center gap-2">
          <%= render ActionButtonComponent.new(to: project_subproject_path(@project, subproject), icon: "view") %>
          <%= render ActionButtonComponent.new(to: edit_project_subproject_path(@project, subproject), icon: "edit", colour: :info) %>
          <%= render ActionButtonComponent.new(to: project_subproject_path(@project, subproject), method: :delete, icon: "delete", colour: :error, confirm: t("subprojects.destroy.confirm")) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
