<section class="mx-8 my-10">
  <div class="flex flex-col gap-4">
    <div class="flex flex-row justify-between items-start">
      <div class="flex flex-col gap-1">
        <h1 class="text-4xl font-bold"><%= @subproject.name %></h1>
        <span class="text-lg text-base-content/60"><%= @subproject.description %></span>
      </div>
      <div class="flex flex-row gap-4">
        <%= button_to project_subproject_path(@project, @subproject), method: :delete, data: { turbo_confirm: t("subprojects.destroy.confirm") }, class: "btn btn-error flex flex-row items-center gap-2 px-4 py-2 rounded shadow-none font-bold text-white" do %>
          <%= render IconComponent.new(icon: "delete", size: :sm) %>
          <%= t(".actions.delete") %>
        <% end %>
        <%= link_to edit_project_subproject_path(@project, @subproject), method: :get, class: "btn btn-primary flex flex-row items-center gap-2 px-4 py-2 rounded shadow-none font-bold", data: { turbo_stream: true } do %>
          <%= render IconComponent.new(icon: "edit", size: :sm) %>
          <%= t(".actions.edit") %>
        <% end %>
        <%# TODO: link to correct path %>
        <%= link_to root_path, method: :get, class: "btn btn-primary flex flex-row items-center gap-2 px-4 py-2 rounded shadow-none font-bold" do %>
          <%= render IconComponent.new(icon: "add", size: :sm) %>
          <%= t(".create_log_entry") %>
        <% end %>
        <%= link_to new_project_subproject_journal_path(@project, @subproject), method: :get, class: "btn btn-primary flex flex-row items-center gap-2 px-4 py-2 rounded shadow-none font-bold" do %>
          <%= render IconComponent.new(icon: "add", size: :sm) %>
          <%= t(".create_journal_entry") %>
        <% end %>
      </div>
    </div>
    <%= render ContentCardComponent.new do %>
      <h1 class="text-2xl font-bold"><%= t(".log_entries") %></h1>
      <%= render Shared::IndexTableComponent.new(records: @subproject.log_entries) do |table| %>
        <% table.column :created_at do |log_entry| %>
          <%= l(log_entry.created_at) %>
        <% end %>
        <% table.column :updated_at do |log_entry| %>
          <%= l(log_entry.updated_at) %>
        <% end %>
        <% table.column :user do |log_entry| %>
          <%= log_entry.user.username %>
        <% end %>
        <% table.column :actions, header: t("shared.index_table_component.actions"), col_size: "90px" do |log_entry| %>
          <div class="flex flex-row gap-2 items-center">
            <!-- TODO: Update paths to actual log entry paths -->
            <%= render ActionButtonComponent.new(to: root_path, icon: "view") %>
            <%= render ActionButtonComponent.new(to: root_path, icon: "edit", colour: :info) %>
            <%= render ActionButtonComponent.new(to: root_path, method: :delete, icon: "delete", colour: :error, confirm: t("log_entries.destroy.confirm")) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
</section>
