<section class="mx-8 my-10">
  <div class="flex flex-col gap-4">
    <div class="flex flex-row justify-between items-end">
      <div class="flex flex-col gap-1">
        <h1 class="text-4xl"><%= @subproject.name %></h1>
        <span class="text-lg text-base-content/60"><%= @subproject.description %></span>
      </div>
      <div class="flex flex-row gap-4">
        <%= button_to project_subproject_path(@project, @subproject), method: :delete, class: "text-white bg-error flex flex-row items-center gap-2 text-xs py-2.5 px-3 rounded hover:cursor-pointer" do %>
          <%= render IconComponent.new(icon: "delete", size: :sm) %>
          <%= t(".actions.delete") %>
        <% end %>
        <%= link_to edit_project_subproject_path(@project, @subproject), method: :get, class: "text-white bg-primary flex flex-row items-center gap-2 text-xs py-2.5 px-3 rounded" do %>
          <%= render IconComponent.new(icon: "edit", size: :sm) %>
          <%= t(".actions.edit") %>
        <% end %>
        <%# TODO: link to correct path %>
        <%= link_to root_path, method: :get, class: "text-white bg-primary flex flex-row items-center gap-2 text-xs py-2.5 px-3 rounded" do %>
          <%= render IconComponent.new(icon: "add", size: :sm) %>
          <%= t(".actions.create_log_entry") %>
        <% end %>
        <%# TODO: link to correct path %>
        <%= link_to root_path, method: :get, class: "text-white bg-primary flex flex-row items-center gap-2 text-xs py-2.5 px-3 rounded" do %>
          <%= render IconComponent.new(icon: "add", size: :sm) %>
          <%= t(".actions.create_journal_entry") %>
        <% end %>
      </div>
    </div>
    <%= render ContentCardComponent.new do %>
      <div class="p-2 border border-base-300 rounded-lg bg-base-100">
        <%= render Shared::IndexTableComponent.new(records: @subproject.log_entries) do |table| %>
          <% table.column :created_at do |log_entry| %>
            <%= l(log_entry.created_at) %>
          <% end %>
          <% table.column :updated_at do |log_entry| %>
            <%= l(log_entry.updated_at) %>
          <% end %>
          <% table.column :user do |log_entry| %>
            <%= log_entry.user.username %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </section>
