<section class="mx-8 my-10">
  <div class="flex flex-col gap-4">
    <div class="flex flex-row justify-between items-start">
      <div class="flex flex-col gap-1">
        <h1 class="text-4xl font-bold"><%= @subproject.name %></h1>
        <span class="text-lg text-base-content/60"><%= @subproject.description %></span>
      </div>
      <div class="flex flex-row gap-4">
        <%= render ActionButtonComponent.new(to: project_subproject_path(@project, @subproject), method: :delete, icon: "delete", colour: :error, size: :large, confirm: t("subprojects.destroy.confirm")) do %>
          <%= t(".actions.delete") %>
        <% end %>
        <%= render ActionButtonComponent.new(to: edit_project_subproject_path(@project, @subproject), icon: "edit", colour: :secondary, turbo_stream: true, size: :large) do %>
          <%= t(".actions.edit") %>
        <% end %>
        <%= render ActionButtonComponent.new(to: new_project_subproject_log_entry_path(@project, @subproject), icon: "add", turbo_stream: true, size: :large, colour: :primary) do %>
          <%= t(".create_log_entry") %>
        <% end %>
        <%= render ActionButtonComponent.new(to: new_project_subproject_journal_path(@project, @subproject), icon: "add", size: :large, colour: :primary) do %>
          <%= t(".create_journal_entry") %>
        <% end %>
      </div>
    </div>
    <%= render ContentCardComponent.new do %>
      <h1 class="text-2xl font-bold"><%= t(".log_entries") %></h1>
      <%= render Shared::IndexTableComponent.new(
            records: @subproject.log_entries,
            actions: lambda { |log_entry|
              [
                { icon: "edit", label: t("shared.index_table_component.actions.edit"), path: edit_project_subproject_log_entry_path(@project, @subproject, log_entry), turbo_stream: true },
                { icon: "delete", label: t("shared.index_table_component.actions.delete"), path: project_subproject_log_entry_path(@project, @subproject, log_entry), method: :delete, confirm: t("projects.subprojects.log_entries.destroy.confirm") }
              ]
            },
            turbo_stream_rows: true
          ) do |table| %>
        <% table.column :created_at do |log_entry| %>
          <%= l(log_entry.created_at) %>
        <% end %>
        <% table.column :updated_at do |log_entry| %>
          <%= l(log_entry.updated_at) %>
        <% end %>
        <% table.column :user do |log_entry| %>
          <%= log_entry.user.username %>
        <% end %>
      <% end %>
    <% end %>
    <%= render ContentCardComponent.new do %>
      <h1 class="text-2xl font-bold"><%= t(".journal_entries") %></h1>
      <%= render Shared::IndexTableComponent.new(
            records: @subproject.journals,
            actions: lambda { |journal|
              [
                { icon: "edit", label: t("shared.index_table_component.actions.edit"), path: edit_project_subproject_journal_path(@project, @subproject, journal), turbo_stream: true },
                { icon: "delete", label: t("shared.index_table_component.actions.delete"), path: project_subproject_journal_path(@project, @subproject, journal), method: :delete, confirm: t("projects.subprojects.journals.destroy.confirm") }
              ]
            }
          ) do |table| %>
        <% table.column :title do |journal| %>
          <%= journal.title %>
        <% end %>
        <% table.column :created_at do |journal| %>
          <%= l(journal.created_at) %>
        <% end %>
        <% table.column :updated_at do |journal| %>
          <%= l(journal.updated_at) %>
        <% end %>
        <% table.column :user do |journal| %>
          <%= journal.user.username %>
        <% end %>
      <% end %>
    <% end %>
</section>
