<div class="mx-8 my-10">
  <div class="flex items-center justify-between mb-4">
    <div class="flex flex-col gap-1">
      <h1 class="text-4xl font-bold"><%= t(".title") %></h1>
      <span class="text-lg text-base-content/60"><%= t(".subtitle") %></span>
    </div>
    <%= render ActionButtonComponent.new(to: new_report_path, icon: "add", colour: :primary, size: :large) do %>
      <%= t(".actions.create") %>
    <% end %>
  </div>
  <%= render ContentCardComponent.new do %>
    <%= render Shared::IndexTableComponent.new(
          records: @reports,
          record_path: ->(report) { report_path(report) }
        ) do |table| %>
      <% table.column :id, col_size: "80px" %>
      <% table.column :start_date do |report| %>
        <%= l(report.start_date) %>
      <% end %>
      <% table.column :end_date do |report| %>
        <%= l(report.end_date) %>
      <% end %>
      <% table.column :actions, header: t("shared.index_table_component.actions"), col_size: "65px" do |report| %>
        <div class="flex flex-row gap-2 items-center justify-center">
          <%= render ActionButtonComponent.new(to: edit_report_path(report), icon: "edit", colour: :primary) %>
          <%= render ActionButtonComponent.new(to: report_path(report), method: :delete, icon: "delete", colour: :error, confirm: t("reports.destroy.confirm")) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
