<div class="mx-8 my-10">
  <div class="flex items-center justify-between mb-4">
    <h1 class="text-4xl font-bold"><%= t(".title") %></h1>
    <%= render ActionButtonComponent.new(to: new_report_path, icon: "add", colour: :primary, size: :large, turbo_stream: true) do %>
      <%= t(".actions.create") %>
    <% end %>
  </div>
  <%= render ContentCardComponent.new do %>
    <%= render Shared::IndexTableComponent.new(records: @reports) do |table| %>
      <% table.column :id, header: t(".columns.id"), col_size: "80px" %>
      <% table.column :start_date, header: t(".columns.start_date") %>
      <% table.column :end_date, header: t(".columns.end_date") %>
      <% table.column :actions, header: t("shared.index_table_component.actions"), col_size: "90px" do |report| %>
        <div class="flex items-center gap-2">
          <%= render ActionButtonComponent.new(to: report_path(report), icon: "view") %>
          <%= render ActionButtonComponent.new(to: edit_report_path(report), icon: "edit", colour: :info, turbo_stream: true) %>
          <%= render ActionButtonComponent.new(to: report_path(report), method: :delete, icon: "delete", colour: :error, confirm: t("reports.destroy.confirm")) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
